<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" >Manager Operations</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/addemployee">Add Employee<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/raiseallocationrequest">Raise Allocation Request</a>
        <a class="nav-item nav-link" routerLink="/viewallocationstatus">View Allocation Status</a>
        <a class="nav-item nav-link" routerLink="/">Logout</a>
      </div>
    </div>
  </nav> -->

<div class="col-md-2 float-left card card-body card-text">
  <button type="button" class="card text-white bg-dark mb-3" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
  <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header"><a class="nav-item nav-link active" routerLink="/addemployee">Add Employee<span class="sr-only">(current)</span></a></div>
    
  </div>
  </button>
  <button type="button" class="card text-white bg-dark mb-3" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
   <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header"><a class="nav-item nav-link" routerLink="/raiseallocationrequest">Raise Allocation Request</a></div>
    
  </div> 
  </button>
  <button type="button" class="card text-white bg-dark mb-3" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
     <div class="card-header"><a class="nav-item nav-link" routerLink="/viewallocationstatus">View Allocation Status</a></div>
     
   </div> 
   </button>
   <button type="button" class="card text-white bg-dark mb-3" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
     <div class="card-header"><a class="nav-item nav-link" routerLink="/">Logout</a></div>
     
   </div> 
   </button>
   </div>
   <div class="col-md-10 card card-body text-center">
      <h1 style="height: 500px; width : 100%; background:red;">Welocome!...</h1>
   </div>
